flows_raspberrypi.json
[{"id":"781791c3.e727","type":"tab","label":"Relays & ADC","disabled":false,"info":""},{"id":"f6ff9e81.0fc86","type":"tab","label":"LoRaTTN","disabled":true,"info":""},{"id":"d65bad74.40f3a","type":"tab","label":"QR","disabled":true,"info":""},{"id":"91c43336.98c34","type":"tab","label":"TCP","disabled":true,"info":""},{"id":"4233a686.2771c8","type":"tab","label":"websocket-test","disabled":true,"info":""},{"id":"3fb469fd.146e66","type":"tab","label":"bascula","disabled":false,"info":""},{"id":"f429c461.047288","type":"tab","label":"test_context","disabled":false,"info":""},{"id":"cbc2b56c6b587237","type":"group","z":"781791c3.e727","name":"Virtuino-V6 node","style":{"stroke":"#ff0000","fill-opacity":"0.3","label":true,"color":"#000000","fill":"#ffbfbf"},"nodes":["5dd911fe42af56a8","5ffe13cc1da73686","1ceb6a876e04b2ec","740c35ac5698d608","2769667ca6eb9c05","01c991dee1770896","b3a1efb6901d6155","0c5deffb3965d069","72658c40f9514f0a","644d2f176ccdc9e7"],"env":[],"x":254,"y":139,"w":732,"h":182},{"id":"e0e4aaf1.023a08","type":"ui_tab","name":"cam","icon":"dashboard","disabled":false,"hidden":false},{"id":"a8df8f41.c096","type":"ui_group","name":"Camara","tab":"e0e4aaf1.023a08","order":3,"disp":true,"width":"6","collapse":false},{"id":"ea8bc66e.04a028","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c9230fd4.ec5ca","type":"ui_group","name":"relays","tab":"e0e4aaf1.023a08","order":6,"disp":true,"width":"6","collapse":false},{"id":"c24a887c.f8fdf8","type":"ui_group","name":"ADC","tab":"e0e4aaf1.023a08","order":2,"disp":true,"width":"6","collapse":false},{"id":"a1dfaec8.496c1","type":"ncd-comm","name":"ADC","bus":"1","busManual":"","commType":"standard","addr":"0","useMux":false,"muxAddr":"112","muxPort":"0"},{"id":"96e351f8.f5f4b","type":"mqtt-broker","name":"sensor_Temp","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"824cdb94.d0e858","type":"ui_group","name":"LoRaWAN-Yamaray1","tab":"e0e4aaf1.023a08","order":5,"disp":true,"width":"6","collapse":false},{"id":"3be3fdaf.42e142","type":"ui_group","name":"LoRaWAN-Yamaray2","tab":"e0e4aaf1.023a08","order":4,"disp":true,"width":"6","collapse":false},{"id":"b0fb135c.10a36","type":"ttn app","appId":"santolaya-1","accessKey":"ttn-account-v2.ly3FqnngyYFpHQ3zAhyDXXfYPLTdridYm6p4_Xep5fs","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"c89e6118.543e1","type":"ui_tab","name":"LoRa","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"22cd6b14.aead54","type":"ui_group","name":"Yamaray1","tab":"c89e6118.543e1","order":1,"disp":true,"width":"6","collapse":false},{"id":"994bd7bb.3bb1f8","type":"ui_group","name":"Yamaray2","tab":"c89e6118.543e1","order":2,"disp":true,"width":"6","collapse":false},{"id":"aeaea9f1.24e588","type":"mqtt-broker","name":"","broker":"192.168.0.37","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a823c49d.a60c28","type":"MySQLdatabase","name":"TryptonTemp","host":"127.0.0.1","port":"3306","db":"trypton_Temp","tz":"","charset":"UTF8"},{"id":"6ecd59ac.c0e088","type":"mqtt-broker","name":"trypton_TTN","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7c049c0.b1b708","type":"mqtt-broker","name":"RPi_test","broker":"192.168.0.52","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a960f68.dfb54","type":"websocket-client","path":"ws://localhost:1880/ws/request","tls":"","wholemsg":"false"},{"id":"3ca43d1d.21bd52","type":"websocket-listener","path":"/ws/request","wholemsg":"false"},{"id":"b7d8c749.e165a8","type":"ui_tab","name":"Totem","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"4bd74ffc.e8bef","type":"ui_spacer","name":"spacer","group":"","order":6,"width":"6","height":"3"},{"id":"cf04c37d.bd1cb","type":"ui_link","name":"Link 4","icon":"open_in_browser","target":"newtab","order":4},{"id":"5ec953f8.54c96c","type":"ui_link","name":"Link 5","icon":"open_in_browser","target":"newtab","order":5},{"id":"c05136e8.52d528","type":"websocket-listener","path":"/ws/peso","wholemsg":"false"},{"id":"487e34a2.4c881c","type":"ui_group","name":"Bascula","tab":"b7d8c749.e165a8","order":1,"disp":true,"width":"10","collapse":false},{"id":"6d6083cb.322a7c","type":"ui_group","name":"Controles","tab":"b7d8c749.e165a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"538c0ced.d1c614","type":"ui_group","name":"Peso","tab":"b7d8c749.e165a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"3ac92c09.10af64","type":"ui_group","name":"Peso estable","tab":"b7d8c749.e165a8","order":6,"disp":true,"width":"5","collapse":false},{"id":"81df6c3.a9a719","type":"ui_group","name":"QR / RFID","tab":"b7d8c749.e165a8","order":7,"disp":true,"width":"5","collapse":false},{"id":"bf6d4b1b.b3a428","type":"ui_group","name":"Vehiculo ","tab":"b7d8c749.e165a8","order":8,"disp":true,"width":"6","collapse":false},{"id":"f5a2f685.ae7e98","type":"ui_group","name":"Firma","tab":"b7d8c749.e165a8","order":9,"disp":true,"width":"6","collapse":false},{"id":"f7c12f7a.25ae4","type":"ui_group","name":"mensajes","tab":"b7d8c749.e165a8","order":5,"disp":true,"width":"5","collapse":false},{"id":"426f2680.d78db8","type":"ui_group","name":"Totem ID","tab":"b7d8c749.e165a8","order":4,"disp":true,"width":"5","collapse":false},{"id":"a737a053.51439","type":"ui_spacer","name":"spacer","group":"426f2680.d78db8","order":3,"width":1,"height":1},{"id":"daa2aca1780b7155","type":"mqtt-broker","name":"chirpstack-trypton","broker":"chirpstack.homelinux.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6e61e632.9a6218","type":"i2c out","z":"781791c3.e727","name":"","busno":"1","address":"16","command":"1","payload":"payload","payloadType":"msg","count":"1","x":410,"y":620,"wires":[["18b63fab.2cfa1","eac813c4.37824"]]},{"id":"c191d865.feec28","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":620,"wires":[["6e61e632.9a6218"]]},{"id":"18b63fab.2cfa1","type":"debug","z":"781791c3.e727","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":620,"wires":[]},{"id":"99cefeac.cde0e","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":580,"wires":[["6e61e632.9a6218"]]},{"id":"d523c6d8.8dc208","type":"i2c out","z":"781791c3.e727","name":"","busno":"1","address":"16","command":"2","payload":"payload","payloadType":"msg","count":"1","x":410,"y":780,"wires":[["afb95cc6.e3b04"]]},{"id":"d602f321.3cff5","type":"i2c out","z":"781791c3.e727","name":"","busno":"1","address":"16","command":"3","payload":"payload","payloadType":"msg","count":"1","x":410,"y":960,"wires":[["1acf4b63.6d02b5"]]},{"id":"9655a5b9.2e0378","type":"i2c out","z":"781791c3.e727","name":"","busno":"1","address":"16","command":"4","payload":"payload","payloadType":"msg","count":"1","x":410,"y":1140,"wires":[["c5fc090a.50b998"]]},{"id":"3f66c88b.b51cd8","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":800,"wires":[["d523c6d8.8dc208"]]},{"id":"c0ac7f7a.804c9","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":760,"wires":[["d523c6d8.8dc208"]]},{"id":"691d4e68.5d0bc","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":980,"wires":[["d602f321.3cff5"]]},{"id":"b88a67b7.557b68","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":940,"wires":[["d602f321.3cff5"]]},{"id":"a9c856f1.146728","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":1160,"wires":[["9655a5b9.2e0378"]]},{"id":"9643150e.6c1668","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":1120,"wires":[["9655a5b9.2e0378"]]},{"id":"c3d1f083.bfa07","type":"camerapi-takephoto","z":"781791c3.e727","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"backlight","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":400,"y":1300,"wires":[["31473ce4.6b0b74","9bb28feb.9df23"]]},{"id":"31473ce4.6b0b74","type":"function","z":"781791c3.e727","name":"","func":"let buff = new Buffer(msg.payload);\nmsg.payload = buff.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1300,"wires":[["7b8dadba.8df454","473d360d.fe14c8"]]},{"id":"4ec41998.ed0038","type":"inject","z":"781791c3.e727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":1340,"wires":[["c3d1f083.bfa07"]]},{"id":"7b8dadba.8df454","type":"ui_template","z":"781791c3.e727","group":"a8df8f41.c096","name":"Picture","order":1,"width":"6","height":"5","format":"<img src = \"data:image/png;base64, {{msg.payload}}\"\nwidth = '290'\nheight = '220'\nid = 'img'\nalt = \"getting image\"\n>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":1300,"wires":[[]]},{"id":"25595caf.f04844","type":"ui_button","z":"781791c3.e727","name":"","group":"a8df8f41.c096","order":2,"width":"6","height":"1","passthru":false,"label":"Click for a Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1300,"wires":[["c3d1f083.bfa07"]]},{"id":"eac813c4.37824","type":"ui_switch","z":"781791c3.e727","name":"Relay1","label":"Relay1","tooltip":"","group":"c9230fd4.ec5ca","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":420,"y":520,"wires":[["6e61e632.9a6218"]]},{"id":"afb95cc6.e3b04","type":"ui_switch","z":"781791c3.e727","name":"Relay2","label":"Relay2","tooltip":"","group":"c9230fd4.ec5ca","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":420,"y":680,"wires":[["d523c6d8.8dc208"]]},{"id":"1acf4b63.6d02b5","type":"ui_switch","z":"781791c3.e727","name":"Relay3","label":"Relay3","tooltip":"","group":"c9230fd4.ec5ca","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":420,"y":880,"wires":[["d602f321.3cff5"]]},{"id":"c5fc090a.50b998","type":"ui_switch","z":"781791c3.e727","name":"Relay4","label":"Relay4","tooltip":"","group":"c9230fd4.ec5ca","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":420,"y":1060,"wires":[["9655a5b9.2e0378"]]},{"id":"ae9b2e4e.446dc","type":"ncd-ads1115","z":"781791c3.e727","d":true,"name":"","connection":"a1dfaec8.496c1","addr":"72","interval":"1000","outputs":1,"output_all":0,"output_mult":1,"channel_1":"4","channel_2":"5","channel_3":"6","channel_4":"7","gain":"1","mode":1,"rate":4,"compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":280,"y":1620,"wires":[["4c91a359.708b6c","cb406e53.da2c2"]]},{"id":"4c91a359.708b6c","type":"debug","z":"781791c3.e727","name":"adc","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":1540,"wires":[]},{"id":"cb406e53.da2c2","type":"function","z":"781791c3.e727","name":"","func":"var voltage1 = (msg.payload.channel_1 * 0.000125)*4.98\nvar voltage2 = (msg.payload.channel_2 * 0.000125)\nvar voltage3 = (msg.payload.channel_3 * 0.000125)\nvar voltage4 = (msg.payload.channel_4 * 0.000125)\nmsg.payload = []\nmsg.payload[0] = voltage1\nmsg.payload[1] = voltage2\nmsg.payload[2] = voltage2\nmsg.payload[3] = voltage3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1620,"wires":[["aba2664c.945dc8","ff9ca6be.fd7dc8","5602ae5c.b75df","59e427d1.a21748","87c6ab87.34a488"]]},{"id":"aba2664c.945dc8","type":"ui_level","z":"781791c3.e727","group":"c24a887c.f8fdf8","order":1,"width":0,"height":0,"name":"A0","label":"A0:  ","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"20","segWarn":"","segHigh":"","unit":"V","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload[0]","peaktime":3000,"x":630,"y":1620,"wires":[]},{"id":"ff9ca6be.fd7dc8","type":"debug","z":"781791c3.e727","name":"adc","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":1580,"wires":[]},{"id":"21cb785b.eb1248","type":"inject","z":"781791c3.e727","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":140,"y":1580,"wires":[["ae9b2e4e.446dc"]]},{"id":"5602ae5c.b75df","type":"ui_level","z":"781791c3.e727","group":"c24a887c.f8fdf8","order":2,"width":0,"height":0,"name":"A1","label":"A1:  ","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"20","segWarn":"","segHigh":"","unit":"V","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload[1]","peaktime":3000,"x":630,"y":1660,"wires":[]},{"id":"59e427d1.a21748","type":"ui_level","z":"781791c3.e727","group":"c24a887c.f8fdf8","order":3,"width":0,"height":0,"name":"A2","label":"A1:  ","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"20","segWarn":"","segHigh":"","unit":"V","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload[2]","peaktime":3000,"x":630,"y":1700,"wires":[]},{"id":"87c6ab87.34a488","type":"ui_level","z":"781791c3.e727","group":"c24a887c.f8fdf8","order":4,"width":0,"height":0,"name":"A3","label":"A3:  ","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"20","segWarn":"","segHigh":"","unit":"V","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload[3]","peaktime":3000,"x":630,"y":1740,"wires":[]},{"id":"4ac06cb8.c6b834","type":"mqtt in","z":"781791c3.e727","name":"yamaray1","topic":"loradev1/yamaray1/data","qos":"0","datatype":"auto","broker":"aeaea9f1.24e588","inputs":0,"x":1160,"y":540,"wires":[["3a7ea650.17166a","23a6f68c.86bb8a"]]},{"id":"3a7ea650.17166a","type":"debug","z":"781791c3.e727","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1320,"y":500,"wires":[]},{"id":"5f1eac5e.6e6984","type":"debug","z":"781791c3.e727","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":240,"wires":[]},{"id":"e985050c.592338","type":"function","z":"781791c3.e727","name":"","func":"var frame = \"ffffffe70000004da470454100\";\nvar rssi = frame.slice(4,8);\nvar Int_rssi = parseInt(rssi, 16);\nif ((Int_rssi & 0x8000) > 0) {\n   Int_rssi = Int_rssi - 0x10000;\n}\n\nvar sn = frame.slice(12,16);\nvar Int_sn = parseInt(sn, 16);\nif ((Int_sn & 0x8000) > 0) {\n   Int_sn = Int_sn - 0x10000;\n}\n// S/N hay que devidirlo por 10\nInt_sn = Int_sn/10;\nvar temp1 = frame.slice(16,24);\n\nvar temp=reverseHex(temp1);\ntemp = parseInt(temp,16);\n\nmsg.payload ={};\nmsg.payload.rssi = Int_rssi;\nmsg.payload.sn = Int_sn;\nmsg.payload.temp = temp;\nmsg.payload.frame = frame;\nvar l = frame.length;\nnode.status({fill:\"green\",shape:\"dot\",text:\"length: \" + l});\n\nreturn msg;\n\n// funcion para invertir los digitos (de dos a dos) de un valor hex\nfunction reverseHex(str) {\n    var splitString = str.split(\"\");\n    var reverse = [];\n    reverse [0] = splitString[6];\n    reverse [1] = splitString[7];\n    reverse [2] = splitString[4];\n    reverse [3] = splitString[5];\n    reverse [4] = splitString[2];\n    reverse [5] = splitString[3];\n    reverse [6] = splitString[1];\n    reverse [7] = splitString[0];\n    var joinArray = reverse.join(\"\"); \n    return joinArray;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":300,"wires":[["5f1eac5e.6e6984","2a5b4a64.e56586"]]},{"id":"f164f9c6.1558a8","type":"ui_level","z":"781791c3.e727","group":"824cdb94.d0e858","order":3,"width":0,"height":0,"name":"Temp","label":"Temp:","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"35","segWarn":"","segHigh":"","unit":"ºC","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.Temp","peaktime":3000,"x":1640,"y":520,"wires":[]},{"id":"4d03c139.b4882","type":"ui_level","z":"781791c3.e727","group":"824cdb94.d0e858","order":1,"width":0,"height":0,"name":"RSSI","label":"RSSI:","colorHi":"#37f901","colorWarn":"#c8ff00","colorNormal":"#ff052b","colorOff":"#595959","min":"-150","max":"-1","segWarn":"-130","segHigh":"-85","unit":"dbm","layout":"sh","channelA":"","channelB":"","decimals":"0","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.RSSI","peaktime":3000,"x":1640,"y":560,"wires":[]},{"id":"44ceaf2b.a7ee8","type":"toFloat","z":"781791c3.e727","name":"","toFixed":"2","x":1550,"y":300,"wires":[["87a89cfc.7cc77"]]},{"id":"2a5b4a64.e56586","type":"change","z":"781791c3.e727","name":"payload to convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":300,"wires":[["44ceaf2b.a7ee8"]]},{"id":"87a89cfc.7cc77","type":"debug","z":"781791c3.e727","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1690,"y":300,"wires":[]},{"id":"94884d4b.bd50a","type":"comment","z":"781791c3.e727","name":"","info":"","x":1160,"y":200,"wires":[]},{"id":"23a6f68c.86bb8a","type":"json","z":"781791c3.e727","name":"","property":"payload","action":"","pretty":false,"x":1440,"y":540,"wires":[["f164f9c6.1558a8","4d03c139.b4882","40b39f82.0ab45","42601a6d.0592b4"]]},{"id":"40b39f82.0ab45","type":"ui_level","z":"781791c3.e727","group":"824cdb94.d0e858","order":2,"width":0,"height":0,"name":"SNR","label":"SNR:","colorHi":"#11ff00","colorWarn":"#bbff00","colorNormal":"#ff0004","colorOff":"#595959","min":"-80","max":"20","segWarn":"","segHigh":"","unit":"","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.SNR","peaktime":3000,"x":1640,"y":600,"wires":[]},{"id":"c937f506.2ed8b8","type":"mqtt in","z":"781791c3.e727","name":"yamaray2","topic":"loradev1/yamaray2/data","qos":"0","datatype":"auto","broker":"aeaea9f1.24e588","inputs":0,"x":1140,"y":800,"wires":[["7b36432e.437b6c"]]},{"id":"7b36432e.437b6c","type":"json","z":"781791c3.e727","name":"","property":"payload","action":"","pretty":false,"x":1450,"y":800,"wires":[["c6a44378.df63a","fb5f21b6.1ec81","ace64b22.8d8808","18033661.1d1c1a"]]},{"id":"c6a44378.df63a","type":"ui_level","z":"781791c3.e727","group":"3be3fdaf.42e142","order":3,"width":0,"height":0,"name":"Temp","label":"Temp:","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"35","segWarn":"","segHigh":"","unit":"ºC","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.Temp","peaktime":3000,"x":1650,"y":760,"wires":[]},{"id":"fb5f21b6.1ec81","type":"ui_level","z":"781791c3.e727","group":"3be3fdaf.42e142","order":1,"width":0,"height":0,"name":"RSSI","label":"RSSI:","colorHi":"#2af901","colorWarn":"#c8ff00","colorNormal":"#b30003","colorOff":"#595959","min":"-150","max":"0","segWarn":"-120","segHigh":"-85","unit":"dbm","layout":"sh","channelA":"","channelB":"","decimals":"0","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.RSSI","peaktime":3000,"x":1650,"y":800,"wires":[]},{"id":"ace64b22.8d8808","type":"ui_level","z":"781791c3.e727","group":"3be3fdaf.42e142","order":2,"width":0,"height":0,"name":"SNR","label":"SNR:","colorHi":"#12f901","colorWarn":"#bbff00","colorNormal":"#f90105","colorOff":"#595959","min":"-80","max":"20","segWarn":"","segHigh":"","unit":"","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.SNR","peaktime":3000,"x":1650,"y":840,"wires":[]},{"id":"a6ab3a07.2409e8","type":"ui_text","z":"781791c3.e727","group":"3be3fdaf.42e142","order":4,"width":0,"height":0,"name":"","label":"Ultima Lectura","format":"{{msg.payload}}","layout":"row-spread","x":1920,"y":880,"wires":[]},{"id":"18033661.1d1c1a","type":"function","z":"781791c3.e727","name":"","func":"var today = new Date();\nvar temp = msg.payload.Temp;\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = time;\n\n\nreturn [msg.payload, {\"loradev1/temp\":temp}];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1660,"y":880,"wires":[["a6ab3a07.2409e8"],["ec3631a1.a66b1"]]},{"id":"ec3631a1.a66b1","type":"debug","z":"781791c3.e727","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1930,"y":1020,"wires":[]},{"id":"a0523a68.673958","type":"ui_text","z":"781791c3.e727","group":"824cdb94.d0e858","order":4,"width":0,"height":0,"name":"","label":"Ultima Lectura","format":"{{msg.payload}}","layout":"row-spread","x":1880,"y":580,"wires":[]},{"id":"42601a6d.0592b4","type":"function","z":"781791c3.e727","name":"","func":"var today = new Date();\nvar temp = msg.payload.Temp;\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = time;\nvar topic = \"loradev1/temp\"\nreturn [msg, {topic:topic, payload:temp}];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1660,"y":660,"wires":[["a0523a68.673958","2e40ad99.b7b872"],["876d498a.acd858"]]},{"id":"2e40ad99.b7b872","type":"debug","z":"781791c3.e727","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1850,"y":520,"wires":[]},{"id":"876d498a.acd858","type":"mqtt out","z":"781791c3.e727","name":"","topic":"","qos":"","retain":"","broker":"aeaea9f1.24e588","x":1970,"y":660,"wires":[]},{"id":"9bb28feb.9df23","type":"tesseract","z":"781791c3.e727","name":"","language":"eng","x":630,"y":1240,"wires":[["b4d9b447.425b68"]]},{"id":"b4d9b447.425b68","type":"debug","z":"781791c3.e727","name":"ocr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1200,"wires":[]},{"id":"473d360d.fe14c8","type":"debug","z":"781791c3.e727","name":"camara","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":1340,"wires":[]},{"id":"5dd911fe42af56a8","type":"debug","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":180,"wires":[]},{"id":"5ffe13cc1da73686","type":"function","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"","func":"\n\nvar rx = msg.payload; \nvar pintext; var string; var password; var startpos; var command; var index;\nvar indexOf_end_char; var size; var command_letter; var response = \"\"; var value\nvar msg_out = {}\nmsg_out._remotePort = msg._port\nmsg_out._remoteAddress = msg._address\nnode.send([null, { \"payload\": 1 }])\n//msg_out._session = msg._session\n\npassword = rx.split(\"!\")[0]\npassword = rx.substring(0, rx.indexOf(\"!\"))\nstring = rx.substring(rx.indexOf(\"!\"), rx.length)\nsize = string.length\nstartpos = string.indexOf(\"!\")\n\n//node.warn(\"string1 = \" + string + \" size = \" + size)\n\nwhile (startpos < size){\n    indexOf_end_char = string.indexOf(\"$\", startpos) // index del proximo $ (final de comando)\n    command = string.substring((startpos + 1), string.indexOf(\"$\", startpos))\n    startpos = indexOf_end_char + 1\n    pintext = command.substring(1,3)\n    index = parseInt(pintext)\n    command_letter = command.substring(0,1)\n    /*node.warn(\"string = \" + string + \" startpos = \" + startpos + \" command = \" + \n    command + \" pintext = \" + pintext + \" index = \" + index + \" size = \" + size + \n    \" pass = \" + password + \" letra = \" + command_letter)\n    */\n    if(command.substring(4,5) == \"?\"){ //comando de lectura de valores ?\n        switch (command_letter){\n            case \"V\":\n                response += \"!V\" + index + \"=\" + global.get(command_letter+\"[\"+index+\"]\") + \"$\"\n                //node.send(msg_out)\n            break;\n\n            case \"Q\":\n                //msg_out.payload = \"!Q\" + index + \"=1$\"\n                response += \"!Q\" + index + \"=\" + global.get(command_letter + \"[\" + index + \"]\") + \"$\"\n                //node.send(msg_out)\n                \n            break;\n    \n            case \"A\":\n                response += \"!A\" + index + \"=\" + global.get(command_letter + \"[\" + index + \"]\") + \"$\"\n                //node.send(msg_out)\n            break;\n        } // switch\n        \n    }// if \"?\"\n    else{ // comando de escritura de valores\n        var command_size = command.length\n        var string_value = command.substring(4, command_size)\n        switch (command_letter){\n            case \"C\":\n                response = \"!C=VirtuinoCM 1.0.0\"\n                \n                break;\n            case \"Q\":\n                if (typeof string_value === \"string\") {\n                    value = parseInt(string_value)\n                }\n                global.set(command_letter + \"[\" + index + \"]\", value)\n            break;\n\n            case \"V\":\n                if (typeof string_value === \"string\"){\n                    value = parseFloat(string_value)\n                }\n                global.set(command_letter + \"[\" + index + \"]\", value)\n            break;\n\n            case \"A\":\n                if (typeof string_value === \"string\") {\n                    value = parseFloat(string_value)\n                }\n                global.set(command_letter + \"[\" + index + \"]\", value)\n            break;\n            \n            case \"T\":\n                global.set(command_letter + \"[\" + index + \"]\", value)\n            break;\n        }//switch 2\n    }\n}// while\nmsg_out.payload = response\nmsg_out.action = \"write\" \nnode.send([msg_out, null])\nmsg_out.action = \"close\"\nnode.send([msg_out, null])\nreturn;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":180,"wires":[["5dd911fe42af56a8","01c991dee1770896"],["644d2f176ccdc9e7","92ee95270f19dd53"]]},{"id":"1ceb6a876e04b2ec","type":"debug","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":240,"wires":[]},{"id":"740c35ac5698d608","type":"inject","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"listen","props":[{"p":"port","v":"7410","vt":"num"},{"p":"action","v":"listen","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payloadType":"str","x":350,"y":200,"wires":[["01c991dee1770896","72658c40f9514f0a"]]},{"id":"2769667ca6eb9c05","type":"inject","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"write","props":[{"p":"action","v":"write","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":350,"y":240,"wires":[["01c991dee1770896"]]},{"id":"01c991dee1770896","type":"tcp-server","z":"781791c3.e727","g":"cbc2b56c6b587237","action":"action","actionType":"msg","port":"port","portType":"msg","datamode":"stream","datatype":"utf8","newline":"","xmlAttrkey":"$","xmlCharkey":"_","xmlStrip":false,"xmlArray":false,"xmlNormalizeTags":false,"xmlNormalize":false,"write":"payload","writeType":"msg","writeHost":"_remoteAddress","writeHostType":"msg","writePort":"_remotePort","writePortType":"msg","closeHost":"_remoteAddress","closeHostType":"msg","closePort":"_remotePort","closePortType":"msg","topic":"virtuino_server","name":"","x":530,"y":240,"wires":[["1ceb6a876e04b2ec","5ffe13cc1da73686"]]},{"id":"b3a1efb6901d6155","type":"inject","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"close","props":[{"p":"action","v":"close","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":350,"y":280,"wires":[["01c991dee1770896"]]},{"id":"0c5deffb3965d069","type":"comment","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"ver nota","info":"Si modificamos el nodo o le hacemos deploy es necesario arrancar de nuevo \nel node-red porque sino el nodo TCP se queda colgado y no envia datos.\nEs necesario poner el nodo en Listen al arrancar el node red y no necesita volver a\nponerlo en ese modo luego de hacer un write o un close. Automaticamente el nodo se poner\nen Listen.","x":540,"y":280,"wires":[]},{"id":"72658c40f9514f0a","type":"change","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"init arrays","rules":[{"t":"set","p":"V","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"Q","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"A","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"D","pt":"global","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[[]]},{"id":"644d2f176ccdc9e7","type":"debug","z":"781791c3.e727","g":"cbc2b56c6b587237","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":240,"wires":[]},{"id":"92ee95270f19dd53","type":"function","z":"781791c3.e727","name":"","func":"\n\nglobal.set(\"A[0]\", global.get(\"A[0]\") + 1 )\n\nif (global.get(\"Q[1]\") == 1){\n    global.set(\"A[0]\", 0)\n}\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":380,"wires":[[]]},{"id":"e455194927b7240b","type":"mqtt in","z":"781791c3.e727","name":"rs485- PZEM","topic":"application/2/device/a84041a31183ae74/event/up","qos":"0","datatype":"auto","broker":"daa2aca1780b7155","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":400,"wires":[["91cbfbe988bbe834"]]},{"id":"4fe5c2e04a2c8a4d","type":"function","z":"781791c3.e727","name":"","func":"global.set(\"V[10]\", msg.payload.object.voltage)\nglobal.set(\"V[11]\", msg.payload.object.battery)\nglobal.set(\"V[12]\", msg.payload.object.current)\nglobal.set(\"V[13]\", msg.payload.object.power)\nglobal.set(\"V[14]\", msg.payload.object.energy)\nglobal.set(\"V[15]\", msg.payload.object.frequency)\nglobal.set(\"V[16]\", msg.payload.object.power_factor)\nreturn ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":400,"wires":[[]]},{"id":"e8a99e018cd135dd","type":"debug","z":"781791c3.e727","name":"pzem1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":360,"wires":[]},{"id":"91cbfbe988bbe834","type":"json","z":"781791c3.e727","name":"","property":"payload","action":"","pretty":false,"x":520,"y":400,"wires":[["4fe5c2e04a2c8a4d","e8a99e018cd135dd"]]},{"id":"7dc08a84.718654","type":"ttn event","z":"f6ff9e81.0fc86","d":true,"name":"","app":"b0fb135c.10a36","dev_id":"yamaray1","event":"#","x":510,"y":200,"wires":[["b47ee072.b18e"]]},{"id":"b47ee072.b18e","type":"debug","z":"f6ff9e81.0fc86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"9bcbf50d.fd1ac8","type":"ttn uplink","z":"f6ff9e81.0fc86","d":true,"name":"","app":"b0fb135c.10a36","dev_id":"yamaray1","field":"temperature","x":500,"y":300,"wires":[["333b31a3.62949e"]]},{"id":"333b31a3.62949e","type":"debug","z":"f6ff9e81.0fc86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"74ef626b.6d93cc","type":"mqtt in","z":"f6ff9e81.0fc86","name":"","topic":"santolaya-1/devices/yamaray1/up","qos":"0","datatype":"auto","broker":"96e351f8.f5f4b","inputs":0,"x":670,"y":520,"wires":[["6191932d.f2f89c"]]},{"id":"efaedc9b.4eb69","type":"debug","z":"f6ff9e81.0fc86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":180,"wires":[]},{"id":"6191932d.f2f89c","type":"json","z":"f6ff9e81.0fc86","name":"","property":"payload","action":"","pretty":false,"x":910,"y":520,"wires":[["8d9d903e.42c2d"]]},{"id":"be7cfea5.b96b5","type":"mqtt in","z":"f6ff9e81.0fc86","name":"","topic":"santolaya-1/devices/yamaray2/up","qos":"0","datatype":"auto","broker":"96e351f8.f5f4b","inputs":0,"x":670,"y":680,"wires":[["79f605c4.4651dc"]]},{"id":"79f605c4.4651dc","type":"json","z":"f6ff9e81.0fc86","name":"","property":"payload","action":"","pretty":false,"x":910,"y":680,"wires":[["19cdb26f.8b841e"]]},{"id":"8d9d903e.42c2d","type":"function","z":"f6ff9e81.0fc86","name":"","func":"var newPayload = {};\nnewPayload = msg.payload.payload_fields;\nvar metadata = msg.payload.metadata;\nvar gateways = metadata.gateways[0];\nnewPayload.gateways = gateways;\nvar packet = {\"packet\":newPayload.packet};\nvar temperature = {\"temperature\":newPayload.temperature};\nvar rssi = {\"rssi\":gateways.rssi};\nvar snr = {\"snr\":gateways.snr};\nvar channel = {\"channel\":gateways.channel};\nvar rfChain = {\"rfChain\":gateways.rf_chain};\nmsg.payload = newPayload;\nreturn [temperature, packet, rssi, snr, channel, rfChain];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1100,"y":360,"wires":[["efaedc9b.4eb69","9a250a7d.0cd928"],["a65451eb.01073"],["1141a5c5.7c6f5a"],["d8f06828.1ac928"],["34ff8ccb.5677a4"],["a70cc816.2ebad8","1672a8d.b679957"]]},{"id":"9a250a7d.0cd928","type":"ui_level","z":"f6ff9e81.0fc86","group":"22cd6b14.aead54","order":1,"width":0,"height":0,"name":"Temp","label":"Temperature","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"35","segWarn":"","segHigh":"","unit":"ºC","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"temperature","peaktime":3000,"x":1350,"y":300,"wires":[]},{"id":"1141a5c5.7c6f5a","type":"ui_level","z":"f6ff9e81.0fc86","group":"22cd6b14.aead54","order":2,"width":0,"height":0,"name":"rssi","label":"rssi:","colorHi":"#37f901","colorWarn":"#c8ff00","colorNormal":"#ff052b","colorOff":"#595959","min":"-150","max":"-1","segWarn":"-130","segHigh":"-85","unit":"dbm","layout":"sh","channelA":"","channelB":"","decimals":"0","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"rssi","peaktime":3000,"x":1350,"y":380,"wires":[]},{"id":"d8f06828.1ac928","type":"ui_level","z":"f6ff9e81.0fc86","group":"22cd6b14.aead54","order":3,"width":0,"height":0,"name":"snr","label":"snr:","colorHi":"#11ff00","colorWarn":"#bbff00","colorNormal":"#ff0004","colorOff":"#595959","min":"-80","max":"20","segWarn":"","segHigh":"","unit":"","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"snr","peaktime":3000,"x":1350,"y":420,"wires":[]},{"id":"a65451eb.01073","type":"ui_text","z":"f6ff9e81.0fc86","group":"22cd6b14.aead54","order":4,"width":0,"height":0,"name":"","label":"Nº de paquetes","format":"{{msg.packet}}","layout":"row-spread","x":1380,"y":340,"wires":[]},{"id":"34ff8ccb.5677a4","type":"ui_text","z":"f6ff9e81.0fc86","group":"22cd6b14.aead54","order":5,"width":0,"height":0,"name":"channel","label":"Channel","format":"{{msg.channel}}","layout":"row-spread","x":1360,"y":460,"wires":[]},{"id":"a70cc816.2ebad8","type":"ui_text","z":"f6ff9e81.0fc86","group":"22cd6b14.aead54","order":6,"width":0,"height":0,"name":"rfChain","label":"rf Chain","format":"{{msg.rfChain}}","layout":"row-spread","x":1360,"y":500,"wires":[]},{"id":"19cdb26f.8b841e","type":"function","z":"f6ff9e81.0fc86","name":"","func":"var newPayload = {};\nnewPayload = msg.payload.payload_fields;\nvar metadata = msg.payload.metadata;\nvar gateways = metadata.gateways[0];\nnewPayload.gateways = gateways;\nvar packet = {\"packet\":newPayload.packet};\nvar temperature = {\"temperature\":newPayload.temperature};\nvar rssi = {\"rssi\":gateways.rssi};\nvar snr = {\"snr\":gateways.snr};\nvar channel = {\"channel\":gateways.channel};\nvar rfChain = {\"rfChain\":gateways.rf_chain};\nmsg.payload = newPayload;\nreturn [temperature, packet, rssi, snr, channel, rfChain];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1080,"y":680,"wires":[["8add4c91.30557"],["4fb1627b.69041c"],["5bd40637.838eb8"],["293907f1.371278"],["e0ff2d2.01381d"],["dcfdad3a.a93ce","315e3a75.329056"]]},{"id":"8add4c91.30557","type":"ui_level","z":"f6ff9e81.0fc86","group":"994bd7bb.3bb1f8","order":1,"width":0,"height":0,"name":"Temp","label":"Temperature","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"35","segWarn":"","segHigh":"","unit":"ºC","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"temperature","peaktime":3000,"x":1350,"y":640,"wires":[]},{"id":"5bd40637.838eb8","type":"ui_level","z":"f6ff9e81.0fc86","group":"994bd7bb.3bb1f8","order":2,"width":0,"height":0,"name":"rssi","label":"rssi:","colorHi":"#37f901","colorWarn":"#c8ff00","colorNormal":"#ff052b","colorOff":"#595959","min":"-150","max":"-1","segWarn":"-130","segHigh":"-85","unit":"dbm","layout":"sh","channelA":"","channelB":"","decimals":"0","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"rssi","peaktime":3000,"x":1350,"y":720,"wires":[]},{"id":"293907f1.371278","type":"ui_level","z":"f6ff9e81.0fc86","group":"994bd7bb.3bb1f8","order":3,"width":0,"height":0,"name":"snr","label":"snr:","colorHi":"#11ff00","colorWarn":"#bbff00","colorNormal":"#ff0004","colorOff":"#595959","min":"-80","max":"20","segWarn":"","segHigh":"","unit":"","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"off","shape":"1","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"snr","peaktime":3000,"x":1350,"y":760,"wires":[]},{"id":"4fb1627b.69041c","type":"ui_text","z":"f6ff9e81.0fc86","group":"994bd7bb.3bb1f8","order":4,"width":0,"height":0,"name":"","label":"Nº de paquetes","format":"{{msg.packet}}","layout":"row-spread","x":1380,"y":680,"wires":[]},{"id":"e0ff2d2.01381d","type":"ui_text","z":"f6ff9e81.0fc86","group":"994bd7bb.3bb1f8","order":5,"width":0,"height":0,"name":"channel","label":"Channel","format":"{{msg.channel}}","layout":"row-spread","x":1360,"y":800,"wires":[]},{"id":"dcfdad3a.a93ce","type":"ui_text","z":"f6ff9e81.0fc86","group":"994bd7bb.3bb1f8","order":6,"width":0,"height":0,"name":"rfChain","label":"rf Chain","format":"{{msg.rfChain}}","layout":"row-spread","x":1360,"y":840,"wires":[]},{"id":"315e3a75.329056","type":"function","z":"f6ff9e81.0fc86","name":"","func":"var today = new Date();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":880,"wires":[["c09a1ce0.48711"]]},{"id":"c09a1ce0.48711","type":"ui_text","z":"f6ff9e81.0fc86","group":"994bd7bb.3bb1f8","order":7,"width":0,"height":0,"name":"","label":"Ultima Lectura","format":"{{msg.payload}}","layout":"row-spread","x":1520,"y":880,"wires":[]},{"id":"1672a8d.b679957","type":"function","z":"f6ff9e81.0fc86","name":"","func":"var today = new Date();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":540,"wires":[["44b243a9.42b15c"]]},{"id":"44b243a9.42b15c","type":"ui_text","z":"f6ff9e81.0fc86","group":"22cd6b14.aead54","order":7,"width":0,"height":0,"name":"","label":"Ultima Lectura","format":"{{msg.payload}}","layout":"row-spread","x":1520,"y":540,"wires":[]},{"id":"efee5492.dfe698","type":"mysql","z":"f6ff9e81.0fc86","mydb":"a823c49d.a60c28","name":"","x":1090,"y":960,"wires":[[]]},{"id":"d3f068a8.1a6438","type":"mqtt in","z":"f6ff9e81.0fc86","name":"yamaraylht65","topic":"santolayalht65/devices/yamaraylht65/up","qos":"0","datatype":"auto","broker":"96e351f8.f5f4b","inputs":0,"x":310,"y":860,"wires":[["bb6ffe83.a0dc4"]]},{"id":"819d8eac.4e0c2","type":"function","z":"f6ff9e81.0fc86","name":"","func":"\nvar dev_id = msg.payload.dev_id;\nvar rssi = msg.payload.metadata.gateways[0].rssi;\nvar snr = msg.payload.metadata.gateways[0].snr;\nvar time = msg.payload.metadata.gateways[0].time;\nvar gateway = msg.payload.metadata.gateways[0].gtw_id;\nvar frequency = msg.payload.metadata.frequency;\nvar counter = msg.payload.counter;\nvar temp_Int = msg.payload.payload_fields.TempC_SHT;\nif (dev_id == \"yamaraylsn50\" || dev_id == \"lst25341484\"){\n    temp_Ext = 0;\n}\nelse{\n    var temp_Ext = msg.payload.payload_fields.TempC_DS;\n}\nvar battery = msg.payload.payload_fields.BatV;\nvar humidity = msg.payload.payload_fields.Hum_SHT;\nvar name = msg.payload.dev_id;\n//var timeStamp = msg.payload.metadata.gateways[0].timestamp;\nvar timeStamp = parseInt(Date.parse(time)/1000);\nmsg.payload = {};\nmsg.topic = \"insert into sensor_Data (rssi, snr, time, gateway, frequency, counter, temp_Int, temp_Ext, battery, humidity, name, timeStamp) values (\" + rssi + \",\" + snr + \", \\\"\"+ time + \"\\\", \\\"\"+ gateway + \"\\\",\" + frequency + \",\" +  counter + \",\" + temp_Int + \",\" + temp_Ext + \",\" + battery + \",\" + humidity + \", \\\"\"+ name + \"\\\",\" + timeStamp + \")\";\nreturn msg;\n\n/*\nmsg.topic = \"insert into employees (name, lastName, phoneNumber, email, registerDate, registerTimeSt, registerCode, status) values(\\\"\" + \nmsg.payload.userName + \"\\\",\\\"\" + msg.payload.userLastName + \"\\\",\\\"\" + msg.payload.userPhone + \"\\\",\\\"\" +\nmsg.payload.userEmail + \"\\\",\\\"\" + registerDate + \"\\\",\" + timeSt + \",\\\"\" + registerCode + \"\\\",\"+ 0 + \")\";\n\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":960,"wires":[["efee5492.dfe698","f1fe2dd4.4e00c"]]},{"id":"c7f07ddf.a6ac7","type":"debug","z":"f6ff9e81.0fc86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":880,"wires":[]},{"id":"a5ca98ea.3243c8","type":"debug","z":"f6ff9e81.0fc86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":1080,"wires":[]},{"id":"bb6ffe83.a0dc4","type":"json","z":"f6ff9e81.0fc86","name":"","property":"payload","action":"","pretty":false,"x":690,"y":960,"wires":[["819d8eac.4e0c2","c7f07ddf.a6ac7"]]},{"id":"f48e178c.ef5f88","type":"mqtt in","z":"f6ff9e81.0fc86","name":"lht65328703","topic":"lht65lorawan/devices/lht65328703/up","qos":"0","datatype":"auto","broker":"6ecd59ac.c0e088","inputs":0,"x":310,"y":920,"wires":[["bb6ffe83.a0dc4"]]},{"id":"c50db4f6.8499e8","type":"mqtt in","z":"f6ff9e81.0fc86","name":"lht65327446","topic":"lht65lorawan/devices/lht65327446/up","qos":"0","datatype":"auto","broker":"6ecd59ac.c0e088","inputs":0,"x":310,"y":980,"wires":[["bb6ffe83.a0dc4"]]},{"id":"7d5ed7b0.112188","type":"mqtt in","z":"f6ff9e81.0fc86","name":"DS18B20_estudio","topic":"temp_test/stat/STATUS8","qos":"0","datatype":"auto","broker":"d7c049c0.b1b708","inputs":0,"x":330,"y":1240,"wires":[["ef1ab70b.40c878"]]},{"id":"600ab06c.2e50a","type":"function","z":"f6ff9e81.0fc86","name":"","func":"var temp = msg.payload.StatusSNS.DS18B20.Temperature;\nvar sensor_ID = msg.payload.StatusSNS.DS18B20.Id;\nvar time = msg.payload.StatusSNS.Time;\nvar timeStamp = parseInt(Date.now()/1000);\nmsg.payload = {};\nmsg.topic = \"insert into esp_Sensor (temperature, sensor_ID, time, timeStamp) values (\" + temp + \",\\\"\" + sensor_ID + \"\\\",\\\"\" + time + \"\\\",\" + timeStamp + \")\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":1240,"wires":[["efee5492.dfe698","a5ca98ea.3243c8"]]},{"id":"ef1ab70b.40c878","type":"json","z":"f6ff9e81.0fc86","name":"","property":"payload","action":"","pretty":false,"x":560,"y":1240,"wires":[["600ab06c.2e50a"]]},{"id":"2ee21b1d.3ef3c4","type":"function","z":"f6ff9e81.0fc86","name":"","func":"var sensor_ID = \"a2345678987\";\nvar time = \"2021-02-15T21:45:08.453013Z\";\nvar timeStamp = Math.floor(Date.now() / 1000);\nvar temp = 18.2;\nmsg.topic = \"insert into esp_Sensor (temperature, sensor_ID, time, timeStamp) values (\" + temp + \",\\\"\" + sensor_ID + \"\\\",\\\"\" + time + \"\\\",\" + timeStamp + \")\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1280,"wires":[["3468779a.82f0d8"]]},{"id":"5f31841b.855cdc","type":"inject","z":"f6ff9e81.0fc86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":1280,"wires":[["2ee21b1d.3ef3c4"]]},{"id":"3468779a.82f0d8","type":"debug","z":"f6ff9e81.0fc86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":1280,"wires":[]},{"id":"4321ca3e.aa08d4","type":"mqtt in","z":"f6ff9e81.0fc86","name":"lht65327439","topic":"lht65lorawan/devices/lht65327439/up","qos":"0","datatype":"auto","broker":"6ecd59ac.c0e088","inputs":0,"x":310,"y":1040,"wires":[["bb6ffe83.a0dc4"]]},{"id":"70fde86b.76d218","type":"mqtt in","z":"f6ff9e81.0fc86","name":"yamaraylsn50","topic":"santolayalht65/devices/yamaraylsn50/up","qos":"0","datatype":"auto","broker":"96e351f8.f5f4b","inputs":0,"x":310,"y":800,"wires":[["bb6ffe83.a0dc4"]]},{"id":"f1fe2dd4.4e00c","type":"debug","z":"f6ff9e81.0fc86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":900,"wires":[]},{"id":"9d8ce2c9.39653","type":"mqtt in","z":"f6ff9e81.0fc86","name":"lst25341484","topic":"lht65lorawan/devices/lst25341484/up","qos":"0","datatype":"auto","broker":"6ecd59ac.c0e088","inputs":0,"x":310,"y":1100,"wires":[["bb6ffe83.a0dc4"]]},{"id":"b79b7cca.d0bcd","type":"function","z":"d65bad74.40f3a","d":true,"name":"QR reader","func":"const keyBoardLines = global.get(\"keyBoardLines\");\n\n\nif(!global.get(\"keyboardListener\"))\n{\n  //var lines = new keyBoardLines({ vendorId: 0x0525, productId: 0xa4ac });\n  var lines = new keyBoardLines({ vendorId: 0xe851, productId: 0x2200 });\n  //var lines = new keyBoardLines('0001:0006:00');\n  // Add a listener. Next routine stays all the time listening on variable lines -> (QR reader)\n  // we just need to start it one time.\n  lines.on(\"data\", function(data) {\n    msg.payload = data;\n    var date = new Date();\n    var timestamp = parseInt(date.getTime());\n    if (timestamp - flow.get(\"lastQRTime\") > 4000){\n        flow.set(\"lastQR\", data);\n        flow.set(\"lastQRTime\", timestamp);\n        data = \"\";\n        node.send([msg]);\n    }\n  });\n  global.set(\"keyboardListener\",true);\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":406.6666564941406,"y":485.14286041259766,"wires":[["e9796de8.51dd8","c2ad8f92.0a7a4"]]},{"id":"1b17eb6f.f4a825","type":"inject","z":"d65bad74.40f3a","name":"START","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230.33331298828125,"y":485.1427993774414,"wires":[["b79b7cca.d0bcd"]]},{"id":"8148db89.4bee28","type":"debug","z":"d65bad74.40f3a","name":"D1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":280,"wires":[]},{"id":"70820979.c28318","type":"config","z":"d65bad74.40f3a","name":"","properties":[{"p":"keyboardListener","pt":"global","to":"false","tot":"bool"}],"active":true,"x":270,"y":116.66666666666663,"wires":[]},{"id":"5e3989e6.0c5678","type":"config","z":"d65bad74.40f3a","name":"","properties":[{"p":"keyboardListener","pt":"global","to":"false","tot":"bool"},{"p":"lastQR","pt":"flow","to":"","tot":"str"},{"p":"lastQRTime","pt":"flow","to":"","tot":"num"}],"active":true,"x":130,"y":120,"wires":[]},{"id":"ba597a5a.d9b9d8","type":"comment","z":"d65bad74.40f3a","name":"QR reader installation","info":"Instalamos el dispositivo como un dispositivo HID\nPara esto necesitamos instalar el nodo de nodejs \"node-hid-stream\". Se hace con el comando:\n\"npm install node-hid-stream\".\nEste comando hace una compilación en el RPi por lo que es necesario tener instalado las dos librerias siguientes:\nlibudev-dev, libusb-1.0-0-dev . Estas librerias las instalamos con sudo apt-get install ibudev-dev libusb-1.0-0-dev \nAlgo muy importante es darle permiso al dispositivo para el usuario donde estemos corriendo el node-red\nen nuestro caso el usuario es \"pi\". Ubicamos el dispositivo en /dev (en nuestro caso es \"hidraw0\")\nEjecutamos el comando sudo chown pi:pi /etc/dev/hidraw0 para dar permiso a \"pi\" de lectura del dispositivo.\n\nEste comando anterior si bien cambia el owner del dispositivo y permite al node-red abrir el dispositivo para operar con el\nAl hacer reboot esta condición se pierde y por lo tanto el node-red dara error ya que no puede abrir el dispositivo\nporque el owner es root:root.\nPara resolver esto y dejarlo permanente hacemos lo siguiente:\nEn el archivo de reglas, que por lo general se encuentra en /etc/udev/rules.d/99-com.rules (el numero 99 puede cambiar en los diferentes RPi)\nhacemos una nueva regla: KERNEL==\"hidraw*\", GROUP=\"reader\", MODE=\"0660\"\ncreamos el grupo \"reader\" -> sudo groupadd reader\naseguramos que nuestro usuario pertenece al grupo \"reader\". Para ello hacemos: sudo adduser <username> reader, o tambien sudo usermod -a -G reader <username>\n\nDesde ahora en adelante los dispositivos \"hidraw*\" podran ser abiertos por usuarios que pertenezcan al grupo \"reader\"\n\n\n","x":400,"y":540,"wires":[]},{"id":"7e76ba55.1e9d84","type":"function","z":"d65bad74.40f3a","d":true,"name":"get QR parameters","func":"var rxPayload = msg.payload;\nvar userType = \"visitor\"; // default\nif (rxPayload.substring(0,1) == \"$\") { // if first character is equal to $ -> means is a resident code\n   // var rxResidentCode = rxPayload.substring(1);//remove first character\n    var rxResidentCode = rxPayload;\n    msg.topic = \"select name, lastName, residentCode, status, personalQR from residents where personalQR = \\\"\" + \n    rxResidentCode + \"\\\"\";\n    msg.userType = \"resident\"; //this variable is used in the next node after consulting DB to switch the process\n}\n\nelse{\n    var qrContent = msg.payload.split(\"/\");\n\n    var qrReceived = {\"qrCode\":\"\", \"visitorName\":\"\", \"plate\":\"\", \"residentCode\":\"\", \"dateStartST\":\"\", \"dateStopST\":\"\"};\n    qrReceived.qrCode = qrContent[0];\n    qrReceived.visitorName = qrContent[1];\n    qrReceived.plate = qrContent[2];\n    qrReceived.residentCode = qrContent[3];\n    qrReceived.dateStartST = qrContent[4];\n    qrReceived.dateStopST = qrContent[5];\n    //qrReceived.dateStartST = 1551567187700;\n    //qrReceived.dateStopST  = 1551667987797;\n\n    msg.topic = \"select name, lastName, residentCode, visitorName, dateStartST, dateStopST, status, sendMail, email from barrierPass where barrierCode = \\\"\" + \n    qrContent[0] + \"\\\"\";\n\n    msg.qrReceived = qrReceived;\n    msg.userType = \"visitor\"; // used to switch data flow in the next node after data base node\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":120,"wires":[[]]},{"id":"e9796de8.51dd8","type":"ui_text","z":"d65bad74.40f3a","group":"c24a887c.f8fdf8","order":0,"width":"6","height":"1","name":"","label":"QR","format":"{{msg.payload}}","layout":"row-left","x":700,"y":500,"wires":[]},{"id":"1041b206.cdc3ae","type":"inject","z":"d65bad74.40f3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":470,"y":640,"wires":[["e9796de8.51dd8"]]},{"id":"6e8d6142.31989","type":"ui_template","z":"d65bad74.40f3a","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":680,"wires":[[]]},{"id":"b8446910.f6e678","type":"rc522-extra","z":"d65bad74.40f3a","name":"RFID","blockedFor":5,"CSpin":24,"dataBlockAddr":8,"dataBlockLength":"4","x":390,"y":280,"wires":[["8148db89.4bee28"]]},{"id":"c2ad8f92.0a7a4","type":"debug","z":"d65bad74.40f3a","name":"D2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":400,"wires":[]},{"id":"b515ff40.39f43","type":"debug","z":"91c43336.98c34","name":"tcp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"2fd6fa1.9ce8406","type":"tcp request","z":"91c43336.98c34","d":true,"server":"192.168.0.65","port":"4000","out":"time","splitc":"0","name":"request","x":320,"y":240,"wires":[["b515ff40.39f43","6d9d4424.b2b90c"]]},{"id":"2f31d51e.7c30aa","type":"inject","z":"91c43336.98c34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["2fd6fa1.9ce8406","d5ebc06e.32494"]]},{"id":"4c5d71b4.6f5ae","type":"tcp in","z":"91c43336.98c34","name":"","server":"client","host":"192.168.65","port":"4000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":310,"y":140,"wires":[["b515ff40.39f43"]]},{"id":"d5ebc06e.32494","type":"tcp out","z":"91c43336.98c34","d":true,"host":"192.168.0.65","port":"4000","beserver":"client","base64":false,"end":false,"name":"","x":400,"y":340,"wires":[]},{"id":"184fa38b.3e826c","type":"ui_text_input","z":"91c43336.98c34","name":"","label":"tcp","tooltip":"","group":"22cd6b14.aead54","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":110,"y":320,"wires":[["2fd6fa1.9ce8406"]]},{"id":"6d9d4424.b2b90c","type":"ui_text","z":"91c43336.98c34","group":"22cd6b14.aead54","order":8,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":300,"wires":[]},{"id":"1ee73dba.7885d2","type":"tcp request","z":"91c43336.98c34","server":"192.168.0.65","port":"4000","out":"time","splitc":"500","name":"","x":460,"y":420,"wires":[["2adbb5d5.57ef1a"]]},{"id":"2adbb5d5.57ef1a","type":"debug","z":"91c43336.98c34","name":"tcp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":420,"wires":[]},{"id":"f03062bc.0d218","type":"inject","z":"91c43336.98c34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["1ee73dba.7885d2"]]},{"id":"b8edce4.ccd31b","type":"websocket in","z":"4233a686.2771c8","name":"","server":"3ca43d1d.21bd52","client":"","x":260,"y":440,"wires":[["dcfc3e96.f1e1b8"]]},{"id":"42c48f04.f2198","type":"websocket out","z":"4233a686.2771c8","name":"","server":"3ca43d1d.21bd52","client":"","x":820,"y":440,"wires":[]},{"id":"bb8e83fc.b8afe","type":"change","z":"4233a686.2771c8","name":"result","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"jsonrpc\": \"2.0\",\t    \"result\": {\t        \"ack\": $millis()\t    },\t    \"id\": payload.id,\t    \"rx\": payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["42c48f04.f2198"]]},{"id":"9736c3b8.651ad","type":"websocket out","z":"4233a686.2771c8","name":"","server":"","client":"3a960f68.dfb54","x":550,"y":160,"wires":[]},{"id":"ec2054f9.08769","type":"inject","z":"4233a686.2771c8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"jsonrpc\":\"2.0\",\"method\":\"playerTap\",\"params\":{\"playerId\":\"2323232323\"},\"id\":1}","payloadType":"json","x":250,"y":160,"wires":[["9736c3b8.651ad"]]},{"id":"a2000ce8.ec378","type":"websocket in","z":"4233a686.2771c8","name":"","server":"","client":"3a960f68.dfb54","x":320,"y":220,"wires":[["cb80b54b.3468c"]]},{"id":"33d59caf.687ccc","type":"debug","z":"4233a686.2771c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"569c2eb9.8c11c","type":"comment","z":"4233a686.2771c8","name":"Server","info":"","x":230,"y":400,"wires":[]},{"id":"6eea9aec.9e331c","type":"comment","z":"4233a686.2771c8","name":"Client","info":"","x":230,"y":120,"wires":[]},{"id":"cb80b54b.3468c","type":"json","z":"4233a686.2771c8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":220,"wires":[["33d59caf.687ccc"]]},{"id":"dcfc3e96.f1e1b8","type":"json","z":"4233a686.2771c8","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":440,"wires":[["bb8e83fc.b8afe","177210a8.e53eaf"]]},{"id":"177210a8.e53eaf","type":"debug","z":"4233a686.2771c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"1345314e.c37faf","type":"function","z":"3fb469fd.146e66","name":"","func":"var totem = {};\nvar vial = {};\nvial = flow.get(\"vial_\"+ flow.get(\"numero_vial\"));// ponemos en \"vial\" la referencia al objeto correspondiente\ntotem = vial[flow.get(\"totem_id\")]; // ponemos en \"totem\" la referencia al objeto totem correspondiente\n\nswitch (msg.topic)\n{   \n    case \"peso_estable_boton\":\n        if(totem.peso >= totem.peso_minimo && !totem.semaforo){\n        //if(flow.get(\"peso\") >= flow.get(\"peso_minimo\")){\n            //flow.set(\"peso_estable\", flow.get(\"peso\"))\n            //flow.set(\"peso_estable_flag\", true)\n            totem.peso_estable = totem.peso;\n            totem.peso_estable_flag = true;\n        }\n    break;\n    \n    case \"peso_manual\":\n        //flow.set(\"peso\", msg.payload)\n        totem.peso = msg.payload;\n        //if(msg.payload < flow.get(\"peso_minimo\")){\n      \n        if(msg.payload < totem.peso_minimo){\n            //flow.set(\"peso_estable\", 0)\n            totem.peso_estable = 0\n            //flow.set(\"peso_estable_flag\", false)\n            totem.peso_estable_flag = false;\n            //flow.set(\"fin_pesada_flag\", false)\n            totem.fin_pesada_flag = false;\n        }\n        \n    break;\n    \n    case \"matricula_boton\":\n        //flow.set(\"matricula\", msg.payload)\n        totem.matricula = totem.matricula_numero;\n    break;\n    case \"matricula\":\n        //flow.set(\"matricula\", msg.payload)\n        totem.matricula_numero = msg.payload;\n    break;\n    case \"fin_pesada_boton\":\n        //flow.set(\"fin_pesada_flag\", true)\n        totem.fin_pesada_flag = true;\n    break;\n    case \"firma_cmd_boton\":\n        //flow.set(\"firma_cmd_flag\", true)\n        totem.firma_cmd_flag = true;\n    break;\n    case \"init_peso_estable_boton\":\n        //flow.set(\"peso_estable\", 0);\n        totem.peso_estable = 0\n        //flow.set(\"peso_estable_flag\", false);\n        totem.peso_estable_flag = false;\n    break;\n    case \"borra_id_boton\":\n        node.send([null, null, {\"mesaje1\":\"\", \"mensaje2\":\"\"}])\n    break;\n    \n    \n}\nmsg.switch = msg.payload; // para el caso del switch del screen, guardamos el valor del payload en switch\nmsg.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"peso\":totem.peso, \"peso_estable\":totem.peso_estable, \"peso_estable_flag\":totem.peso_estable_flag, \"firma_cmd_flag\":totem.firma_cmd_flag, \"fin_pesada_flag\":totem.fin_pesada_flag, \"matricula\":totem.matricula}\nif(msg.topic == \"screenOn_flag\"){\n    if(msg.switch){\n        msg.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"screenOn_flag\":true, \"peso_estable\":totem.peso_estable, \"peso_estable_flag\":totem.peso_estable_flag};\n        node.send([null, {\"payload\":\"Screen ON\"}], null)\n        totem.screen = \"Screen ON\";\n    }\n    else{\n        msg.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"screenOn_flag\":false, \"peso_estable\":totem.peso_estable, \"peso_estable_flag\":totem.peso_estable_flag};\n        node.send([null, {\"payload\":\"Screen OFF\"}], null)\n        totem.screen = \"Screen OFF\";\n    }\n        \n}\nelse if (msg.topic == \"matricula_boton\"){\n    msg.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"peso_estable\":totem.peso_estable, \"peso_estable_flag\":totem.peso_estable_flag, \"matricula\":totem.matricula_numero};\n}\n\nreturn [msg, null ,null];\n/*\nsetTimeout(function () {\n        node.send([null, {topic:\"\"}]);\n    }, 2000);\n    */","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1280,"y":380,"wires":[["6f07a6df.1c9db8","7afb3379.642fcc","af259c00.e083f","cbd2a92c.2b31e8","6a60e626.a49278"],["aa54ffa1.491bb"],["3a1330ea.875b9"]]},{"id":"6a229276.a737bc","type":"inject","z":"3fb469fd.146e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"peso_manual","payload":"4532","payloadType":"num","x":990,"y":120,"wires":[["1345314e.c37faf"]]},{"id":"6a60e626.a49278","type":"websocket out","z":"3fb469fd.146e66","name":"peso","server":"c05136e8.52d528","client":"","x":1590,"y":580,"wires":[]},{"id":"6f07a6df.1c9db8","type":"debug","z":"3fb469fd.146e66","name":"sup1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":220,"wires":[]},{"id":"dc93c9b4.0c83f8","type":"websocket in","z":"3fb469fd.146e66","name":"","server":"c05136e8.52d528","client":"","x":470,"y":1260,"wires":[["9e32294a.39d8b8"]]},{"id":"4292619d.7fc9","type":"ui_slider","z":"3fb469fd.146e66","name":"","label":"peso manual","tooltip":"","group":"487e34a2.4c881c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"peso_manual","min":0,"max":"10000","step":"50","x":990,"y":180,"wires":[["172c20ae.ec7a4f","1345314e.c37faf","f3f8517.dbe1eb"]]},{"id":"2bfb21a.ca987de","type":"config","z":"3fb469fd.146e66","name":"","properties":[{"p":"peso","pt":"flow","to":"0","tot":"num"},{"p":"sendButton","pt":"flow","to":"false","tot":"bool"},{"p":"tiempo_peso","pt":"flow","to":"1000","tot":"num"},{"p":"peso_estable_flag","pt":"flow","to":"false","tot":"bool"},{"p":"peso_estable","pt":"flow","to":"0","tot":"num"},{"p":"fin_pesada","pt":"flow","to":"false","tot":"bool"},{"p":"matricula","pt":"flow","to":" No Recibida","tot":"str"},{"p":"peso_estable_boton","pt":"flow","to":"false","tot":"bool"},{"p":"fin_pesada_flag","pt":"flow","to":"false","tot":"bool"},{"p":"stop_peso","pt":"flow","to":"false","tot":"bool"},{"p":"peso_minimo","pt":"flow","to":"1000","tot":"num"},{"p":"totem_id","pt":"flow","to":"totem_1","tot":"str"},{"p":"vial_1","pt":"flow","to":"{\"totem_1\":{\"peso_minimo\":2100,\"matricula\":\"1234-FGX\",\"firma_cmd_flag\":false,\"vehiculo_presente_flag\":false,\"vehiculo_activo_flag\":false,\"semaforo\":\"green\",\"peso_estable_flag\":false,\"fin_pesada_flag\":false,\"peso_estable\":0},\"totem_2\":{\"peso_minimo\":1000,\"matricula\":\"1234-FGX\",\"firma_cmd_flag\":false,\"vehiculo_presente_flag\":false,\"vehiculo_activo_flag\":false,\"semaforo\":\"green\",\"peso_estable_flag\":false,\"fin_pesada_flag\":false,\"peso_estable\":0}}","tot":"json"},{"p":"vial_2","pt":"flow","to":"{\"totem_1\":{\"peso_minimo\":1400,\"matricula\":\"1234-FGX\",\"firma_cmd_flag\":false,\"vehiculo_presente_flag\":false,\"vehiculo_activo_flag\":false,\"semaforo\":\"green\",\"peso_estable_flag\":false,\"fin_pesada_flag\":false,\"peso_estable\":0},\"totem_2\":{\"peso_minimo\":1000,\"matricula\":\"1234-FGX\",\"firma_cmd_flag\":false,\"vehiculo_presente_flag\":false,\"vehiculo_activo_flag\":false,\"semaforo\":\"green\",\"peso_estable_flag\":false,\"fin_pesada_flag\":false,\"peso_estable\":0}}","tot":"json"},{"p":"vial_3","pt":"flow","to":"{\"totem_1\":{\"peso_minimo\":1400,\"matricula\":\"1234-FGX\",\"firma_cmd_flag\":false,\"vehiculo_presente_flag\":false,\"vehiculo_activo_flag\":false,\"semaforo\":\"green\",\"peso_estable_flag\":false,\"fin_pesada_flag\":false,\"peso_estable\":0},\"totem_2\":{\"peso_minimo\":1100,\"matricula\":\"1234-FGX\",\"firma_cmd_flag\":false,\"vehiculo_presente_flag\":false,\"vehiculo_activo_flag\":false,\"semaforo\":\"green\",\"peso_estable_flag\":false,\"fin_pesada_flag\":false,\"peso_estable\":0}}","tot":"json"},{"p":"numero_vial","pt":"flow","to":"1","tot":"num"}],"active":false,"x":310,"y":140,"wires":[]},{"id":"172c20ae.ec7a4f","type":"ui_level","z":"3fb469fd.146e66","group":"487e34a2.4c881c","order":2,"width":0,"height":0,"name":"","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"10000","segWarn":"","segHigh":"","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1270,"y":180,"wires":[]},{"id":"c9f1fdb8.fad98","type":"ui_button","z":"3fb469fd.146e66","name":"peso estable","group":"6d6083cb.322a7c","order":1,"width":"2","height":"1","passthru":false,"label":"Estable","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"peso_estable_boton","x":990,"y":240,"wires":[["1345314e.c37faf"]]},{"id":"d5992c1e.f5115","type":"ui_button","z":"3fb469fd.146e66","name":"fin pesada","group":"6d6083cb.322a7c","order":2,"width":"2","height":"1","passthru":false,"label":"Fin Pesada","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"fin_pesada_boton","x":990,"y":440,"wires":[["1345314e.c37faf"]]},{"id":"7afb3379.642fcc","type":"ui_template","z":"3fb469fd.146e66","group":"538c0ced.d1c614","name":"peso actual","order":1,"width":"6","height":"2","format":"<style>\n    .peso_actual{\n        font-size: 70px;\n        text-align:right;\n        color:yellow;!important\n        vertical-align:center;\n        height=100%;\n        width:95%;\n        padding-right:0px;\n        padding-left:10px;\n        padding-top:2px;\n        padding-bottom:2px;\n        border:0px;\n        overflow-y: hidden;\n        overflow-x: hidden;\n        \n    }\n</style>\n<div class=\"peso_actual\">\n    <p>\n        {{msg.payload.peso}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1610,"y":280,"wires":[[]]},{"id":"af259c00.e083f","type":"ui_template","z":"3fb469fd.146e66","group":"3ac92c09.10af64","name":"peso estable","order":1,"width":"4","height":"2","format":"<style>\n    .peso_estable{\n        font-size: 50px;\n        text-align:right;\n        color:cyan;\n        vertical-align:center;\n        height=100%;\n        width:95%;\n        padding-right:0px;\n        padding-left:10px;\n        padding-top:2px;\n        padding-bottom:2px;\n        border:0px;\n        overflow-y: hidden;\n        overflow-x: hidden;\n        \n    }\n</style>\n<div class=\"peso_estable\">\n    <p>\n       {{msg.payload.peso_estable}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1610,"y":320,"wires":[[]]},{"id":"f10c9849.b3af48","type":"function","z":"3fb469fd.146e66","name":"","func":"var totem = {};\nvar vial = {};\nvial = flow.get(\"vial_\"+ flow.get(\"numero_vial\"));// ponemos en \"vial\" la referencia al objeto correspondiente\ntotem = vial[flow.get(\"totem_id\")]; // ponemos en \"totem\" la referencia al objeto totem correspondiente\n//node.warn(msg);\nvar semaforo;\nvar msg_template = {};\nif (msg.payload.semaforo === \"green\"){\n    totem.semaforo = true;\n}\nelse{\n    totem.semaforo = false;\n}\nif (msg.payload.tipo == \"user_id\"){\n    if(msg.payload.QR_ok_flag){\n        msg_template.mensaje1 = \"QR recibido:\";\n        msg_template.mensaje2 = msg.payload.QR;\n        \n    }\n    else if(msg.payload.RFID_ok_flag){\n        msg_template.mensaje1 = \"RFID recibido:\";\n        msg_template.mensaje2 = msg.payload.RFID\n    }\n    node.send(msg_template);\n}\nelse if (msg.payload.tipo == \"fin\"){\n    totem.vehiculo_activo_flag = msg.payload.vehiculo_activo_flag;\n    totem.vehiculo_presente_flag = msg.payload.vehiculo_presente_flag;\n    totem.peso_estable_flag = false;\n    totem.peso_pesada_flag = false;\n    totem.peso_estable = 0\n    totem.firma_cmd_flag = false;\n    \n    node.send([{\"mensaje1\":\"\", \"mensaje2\":\"\"}, {\"payload\":msg.payload.vehiculo_presente_flag}, {\"payload\":msg.payload.vehiculo_activo_flag}, {\"payload\":totem.semaforo}, null]);\n    \n}\nelse if (msg.payload.tipo == \"inicio\"){\n    totem.vehiculo_activo_flag = msg.payload.vehiculo_activo_flag;\n    totem.vehiculo_presente_flag = msg.payload.vehiculo_presente_flag;\n    node.send([null, {\"payload\":totem.vehiculo_presente_flag}, {\"payload\":totem.vehiculo_activo_flag}, {\"payload\":totem.semaforo}, null]);\n}\nelse if (msg.payload.tipo == \"activo\"){\n    totem.vehiculo_activo_flag = msg.payload.vehiculo_activo_flag;\n    totem.vehiculo_presente_flag = msg.payload.vehiculo_presente_flag;\n    node.send([null, {\"payload\":totem.vehiculo_presente_flag}, {\"payload\":totem.vehiculo_activo_flag}, {\"payload\":totem.semaforo}, null]);\n}\nelse if (msg.payload.tipo == \"data\"){\n    node.send([null, null, null, {\"payload\":totem.semaforo}, null]);\n}\nelse if (msg.payload.tipo == \"standby\"){\n    totem.matricula_numero = \"\";\n    totem.matricula = \"\";\n    totem.vehiculo_presente_flag = msg.payload.vehiculo_presente_flag;\n    totem.vehiculo_activo_flag = msg.payload.vehiculo_activo_flag;\n    totem.peso_estable_flag = false;\n    totem.peso_pesada_flag = false;\n    totem.peso_estable = 0\n    totem.firma_cmd_flag = false;\n    node.send([null, {\"payload\":totem.vehiculo_presente_flag}, {\"payload\":totem.vehiculo_activo_flag}, {\"payload\":totem.semaforo}, null]);\n}\nelse if (msg.payload.tipo == \"base64\"){\n    //let buff = new Buffer(msg.payload.firma);\n    //msg.payload = buff.toString('base64');\n    var firma = msg.payload.firma;\n    //flow.set(\"firma_cmd_flag\", false);\n    totem.firma_cmd_flag = false;\n    firma = /,(.+)/.exec(firma)[1]\n    node.send([null, null, null, null, {\"payload\":firma}]);\n}\n\nreturn ;","outputs":5,"noerr":0,"initialize":"","finalize":"","x":800,"y":1260,"wires":[["cbd2a92c.2b31e8"],["61f5a0a8.b0db7"],["c9b8103.de3d2f"],["407ea45a.e0e7dc"],["e3913454.6e61c8"]]},{"id":"cbd2a92c.2b31e8","type":"ui_template","z":"3fb469fd.146e66","group":"81df6c3.a9a719","name":"","order":1,"width":"4","height":"2","format":"<style>\n    .mensaje{\n        font-size: 18px;\n        text-align:center;\n        color:lime;\n        vertical-align:0;\n        height=100%;\n        word-wrap: break-word;\n        padding:0;\n    }\n</style>\n<div class=\"mensaje\">\n    <p>\n        {{msg.mensaje1}}\n    </p>\n    <p>\n        {{msg.mensaje2}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1580,"y":1240,"wires":[[]]},{"id":"9e32294a.39d8b8","type":"json","z":"3fb469fd.146e66","name":"","property":"payload","action":"","pretty":false,"x":630,"y":1260,"wires":[["f10c9849.b3af48"]]},{"id":"bb6c45dd.5e7288","type":"ui_button","z":"3fb469fd.146e66","name":"init peso_estable","group":"3ac92c09.10af64","order":3,"width":"3","height":"1","passthru":false,"label":"Init Peso Estable","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"init_peso_estable_boton","x":970,"y":480,"wires":[["1345314e.c37faf"]]},{"id":"d9e7d9f9.9967f8","type":"ui_button","z":"3fb469fd.146e66","name":"borra_id","group":"81df6c3.a9a719","order":3,"width":"3","height":"1","passthru":false,"label":"Borra ID","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"borra_id_boton","x":1000,"y":520,"wires":[["1345314e.c37faf"]]},{"id":"61f5a0a8.b0db7","type":"ui_led","z":"3fb469fd.146e66","group":"bf6d4b1b.b3a428","order":0,"width":0,"height":0,"label":"Presente","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"orange","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vehiculo presente","x":1090,"y":1280,"wires":[]},{"id":"c9b8103.de3d2f","type":"ui_led","z":"3fb469fd.146e66","group":"bf6d4b1b.b3a428","order":0,"width":0,"height":0,"label":"Activo","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"orange","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"vehiculo activo","x":1080,"y":1320,"wires":[]},{"id":"407ea45a.e0e7dc","type":"ui_led","z":"3fb469fd.146e66","group":"bf6d4b1b.b3a428","order":0,"width":0,"height":0,"label":"Semaforo","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"semaforo","x":1060,"y":1360,"wires":[]},{"id":"50cfc639.04ba38","type":"debug","z":"3fb469fd.146e66","name":"s3","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":780,"wires":[]},{"id":"e3913454.6e61c8","type":"ui_template","z":"3fb469fd.146e66","group":"f5a2f685.ae7e98","name":"Firma","order":0,"width":"6","height":"4","format":"<style>\n    .imagen{\n    background: white;\n    width:290px;\n    height:200px;\n    \n    }\n</style>\n<dev class=\"imagen\">\n<img  src = \"data:image/png;base64, {{msg.payload}}\"\nwidth = '290'\nheight = '200'\nid = 'img'\n\n>\n</dev>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1050,"y":1400,"wires":[[]]},{"id":"f4d6ff1c.6e5b2","type":"ui_text_input","z":"3fb469fd.146e66","name":"pesaje_listo","label":"mensaje Pesaje Listo","tooltip":"","group":"f7c12f7a.25ae4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"pesaje_listo","x":990,"y":620,"wires":[["8639be9d.42efb"]]},{"id":"1bfd8a1a.589806","type":"ui_text_input","z":"3fb469fd.146e66","name":"peso_estable","label":"mensaje Peso estable:","tooltip":"","group":"f7c12f7a.25ae4","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"peso_estable","x":990,"y":660,"wires":[["8639be9d.42efb"]]},{"id":"27054591.3588ba","type":"ui_text_input","z":"3fb469fd.146e66","name":"identificacion","label":"mensaje identificacion:","tooltip":"","group":"f7c12f7a.25ae4","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"identificacion","x":990,"y":700,"wires":[["8639be9d.42efb"]]},{"id":"ef580ba7.525ca8","type":"ui_text_input","z":"3fb469fd.146e66","name":"peso_minimo","label":"peso minimo:","tooltip":"","group":"f7c12f7a.25ae4","order":8,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"peso_minimo","x":990,"y":780,"wires":[["8639be9d.42efb"]]},{"id":"8639be9d.42efb","type":"function","z":"3fb469fd.146e66","name":"","func":"var msg_ws = {};\nvar totem = {};\nvar vial = {};\nvial = flow.get(\"vial_\"+ flow.get(\"numero_vial\"));// ponemos en \"vial\" la referencia al objeto correspondiente\ntotem = vial[flow.get(\"totem_id\")]; // ponemos en \"totem\" la referencia al objeto totem correspondiente\n\n\nswitch (msg.topic)\n{\n    case \"pesaje_listo\":\n        totem.men_pesaje_listo = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"),\"men_pesaje_listo\": totem.men_pesaje_listo};\n    break\n    case \"peso_estable\":\n        //flow.set(\"mensaje2\", msg.payload);\n        totem.men_peso_estable = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"),\"men_peso_estable\": totem.men_peso_estable};\n    break\n    case \"identificacion\":\n        //flow.set(\"mensaje3\", msg.payload);\n        totem.men_identificacion = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"men_identificacion\": totem.men_identificacion};\n    break\n    case \"salida\":\n        //flow.set(\"mensaje3\", msg.payload);\n        totem.men_salida = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"men_salida\": totem.men_salida};\n    break\n    case \"titulo_matricula\":\n        //flow.set(\"mensaje3\", msg.payload);\n        totem.id_titulo_matricula = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"id_titulo_matricula\": totem.id_titulo_matricula};\n    break\n    case \"titulo_id\":\n        //flow.set(\"mensaje3\", msg.payload);\n        totem.id_titulo_id = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"id_titulo_id\": totem.id_titulo_id};\n    break\n    case \"id_leido\":\n        //flow.set(\"mensaje3\", msg.payload);\n        totem.id_leido = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"id_leido\": totem.id_leido};\n    break\n    case \"id_no_leido\":\n        //flow.set(\"mensaje3\", msg.payload);\n        totem.id_no_leido = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"id_no_leido\": totem.id_no_leido};\n    break\n    case \"id_tarjeta\":\n        //flow.set(\"mensaje3\", msg.payload);\n        totem.id_tarjeta = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"),\"totem_id\":flow.get(\"totem_id\"), \"id_tarjeta\": totem.id_tarjeta};\n    break\n    case \"peso_minimo\":\n        //flow.set(\"peso_minimo\", msg.payload);\n        totem.peso_minimo = msg.payload;\n        msg_ws.payload = {\"numero_vial\":flow.get(\"numero_vial\"), \"totem_id\":flow.get(\"totem_id\"), \"peso_minimo\": totem.peso_minimo};\n    break\n}\n\nreturn msg_ws;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":780,"wires":[["6a60e626.a49278","50cfc639.04ba38"]]},{"id":"8db520aa.c0704","type":"ui_button","z":"3fb469fd.146e66","name":"firmar","group":"6d6083cb.322a7c","order":3,"width":"2","height":"1","passthru":false,"label":"Firma","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"firma_cmd_boton","x":1010,"y":380,"wires":[["1345314e.c37faf"]]},{"id":"c89c3bf.d5748c8","type":"ui_dropdown","z":"3fb469fd.146e66","name":"totem_id","label":"","tooltip":"","place":"Select option","group":"426f2680.d78db8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"totem_1","value":"totem_1","type":"str"},{"label":"totem_2","value":"totem_2","type":"str"},{"label":"totem_3","value":"totem_3","type":"str"}],"payload":"","topic":"totem_id","x":300,"y":380,"wires":[["88c39414.75ab98"]]},{"id":"88c39414.75ab98","type":"function","z":"3fb469fd.146e66","name":"","func":"var vial = {};\nvar totem = {};\n\n// caso cuando se cambia el numero del vial\nif (msg.topic == \"numero_vial\"){\n    flow.set(\"numero_vial\", msg.payload);\n}\n// caso cuando se cambia el numero del totem\nelse if (msg.topic == \"totem_id\"){\n    flow.set(\"totem_id\", msg.payload);\n}\nvial = flow.get(\"vial_\"+ flow.get(\"numero_vial\"));// ponemos en \"vial\" la referencia al objeto correspondiente\ntotem = vial[flow.get(\"totem_id\")]; // ponemos en \"totem\" la referencia al objeto totem correspondiente. Recordemos que vial_1 contiene varios totems y cada totem contiene varias\n// propiedades\n//node.warn(totem);\n\n//node.send([{\"payload\":totem.peso}, {\"payload\":totem.peso_estable}, {\"payload\":totem.matricula}])\nreturn [[{\"payload\":totem.peso}], [{\"payload\":totem.peso_estable}], [{\"payload\":totem.matricula_numero}], [{\"payload\":1}]];\n//return [[{\"payload\":totem.peso}], [null], [null]];","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":380,"wires":[["4292619d.7fc9"],["c9f1fdb8.fad98"],[],["7f4f1e7f.ebbb9","d93379cf.25db38"],[]]},{"id":"f3f8517.dbe1eb","type":"debug","z":"3fb469fd.146e66","name":"p1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":140,"wires":[]},{"id":"5cd98705.ef98a8","type":"inject","z":"3fb469fd.146e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"totem_2","payloadType":"str","x":300,"y":300,"wires":[["88c39414.75ab98"]]},{"id":"7f4f1e7f.ebbb9","type":"debug","z":"3fb469fd.146e66","name":"p2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"aa54ffa1.491bb","type":"debug","z":"3fb469fd.146e66","name":"p3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":380,"wires":[]},{"id":"570425c4.58a47c","type":"ui_dropdown","z":"3fb469fd.146e66","name":"numero_vial","label":"","tooltip":"","place":"Select option","group":"426f2680.d78db8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"vial_1","value":1,"type":"num"},{"label":"vial_2","value":2,"type":"num"},{"label":"vial_3","value":3,"type":"num"}],"payload":"","topic":"numero_vial","x":310,"y":440,"wires":[["88c39414.75ab98"]]},{"id":"3a1330ea.875b9","type":"ui_switch","z":"3fb469fd.146e66","name":"","label":"Screen ON/OFF","tooltip":"","group":"6d6083cb.322a7c","order":4,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"screenOn_flag","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":980,"y":560,"wires":[["1345314e.c37faf"]]},{"id":"b334f498.a09208","type":"ui_text_input","z":"3fb469fd.146e66","name":"titulo_matricula","label":"mensaje Titulo Matricula:","tooltip":"","group":"f7c12f7a.25ae4","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"titulo_matricula","x":1000,"y":820,"wires":[["8639be9d.42efb"]]},{"id":"204c46f.bf945ba","type":"ui_text_input","z":"3fb469fd.146e66","name":"titulo_id","label":"mensaje Titulo ID:","tooltip":"","group":"f7c12f7a.25ae4","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"titulo_id","x":980,"y":860,"wires":[["8639be9d.42efb"]]},{"id":"b9e1ca72.e6e5d8","type":"ui_text_input","z":"3fb469fd.146e66","name":"id_leido","label":"mensaje ID leido:","tooltip":"","group":"f7c12f7a.25ae4","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"id_leido","x":980,"y":900,"wires":[["8639be9d.42efb"]]},{"id":"9d534952.c2aa68","type":"ui_text_input","z":"3fb469fd.146e66","name":"id_no_leido","label":"mensaje ID NO leido:","tooltip":"","group":"f7c12f7a.25ae4","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"id_no_leido","x":990,"y":940,"wires":[["8639be9d.42efb"]]},{"id":"73d3c360.07377c","type":"ui_button","z":"3fb469fd.146e66","name":"Matricula_boton","group":"6d6083cb.322a7c","order":5,"width":"3","height":"1","passthru":false,"label":"Eviar Matricula","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"matricula_boton","x":980,"y":320,"wires":[["1345314e.c37faf"]]},{"id":"b443cea6.fce05","type":"ui_text_input","z":"3fb469fd.146e66","name":"salida","label":"mensaje salida:","tooltip":"","group":"f7c12f7a.25ae4","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"salida","x":970,"y":740,"wires":[["8639be9d.42efb"]]},{"id":"4ea9e69e.4ac708","type":"ui_dropdown","z":"3fb469fd.146e66","name":"matricula","label":"Matricula","tooltip":"","place":"Matricula","group":"6d6083cb.322a7c","order":6,"width":"5","height":"1","passthru":true,"multiple":false,"options":[{"label":"1234-FRT","value":"1234-FRT","type":"str"},{"label":"4321-HGU","value":"4321-HGU","type":"str"},{"label":"6546-GTY","value":"6546-GTY","type":"str"},{"label":"9862-DEK","value":"9862-DEK","type":"str"},{"label":"6493-KYU","value":"6493-KYU","type":"str"}],"payload":"","topic":"matricula","x":980,"y":280,"wires":[["1345314e.c37faf"]]},{"id":"cfee8b51.acfa98","type":"ui_text_input","z":"3fb469fd.146e66","name":"id_tarjeta","label":"mensaje Tarjeta enviada:","tooltip":"","group":"f7c12f7a.25ae4","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"id_tarjeta","x":980,"y":980,"wires":[["8639be9d.42efb"]]},{"id":"fbe5ee9e.e0319","type":"function","z":"3fb469fd.146e66","name":"save config","func":"\nvar data ={\"vial_1\":{}, \"vial_2\":{}, \"vial_3\":{}}; \n    \n    \n    if(flow.get(\"vial_1\") != undefined) data.vial_1 = flow.get(\"vial_1\")\n    if(flow.get(\"vial_2\") != undefined) data.vial_2 = flow.get(\"vial_2\")\n    if(flow.get(\"vial_3\") != undefined) data.vial_3 = flow.get(\"vial_3\")\n    msg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1040,"wires":[["61e9c9c9.438208","59746b95.83c964"]]},{"id":"61e9c9c9.438208","type":"file","z":"3fb469fd.146e66","name":"config-supervisor","filename":"/home/pi/.node-red/config_supervisor.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":1040,"wires":[[]]},{"id":"8a83c1d.e88394","type":"inject","z":"3fb469fd.146e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1040,"wires":[["fbe5ee9e.e0319"]]},{"id":"59746b95.83c964","type":"debug","z":"3fb469fd.146e66","name":"save1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":1000,"wires":[]},{"id":"23eb8a72.ccf576","type":"inject","z":"3fb469fd.146e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"totem_1","payloadType":"str","x":140,"y":380,"wires":[["c89c3bf.d5748c8"]]},{"id":"e1c60055.8fe6","type":"inject","z":"3fb469fd.146e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1.5","topic":"","payload":"1","payloadType":"num","x":130,"y":440,"wires":[["570425c4.58a47c"]]},{"id":"d93379cf.25db38","type":"function","z":"3fb469fd.146e66","name":"","func":"var totem = {};\nvar vial = {};\nvial = flow.get(\"vial_\"+ flow.get(\"numero_vial\"));// ponemos en \"vial\" la referencia al objeto correspondiente\ntotem = vial[flow.get(\"totem_id\")]; // ponemos en \"totem\" la referencia al objeto totem correspondiente\n\nvar msg_pesaje_listo = {\"payload\":totem.men_pesaje_listo};\nvar msg_peso_estable = {\"payload\":totem.men_peso_estable};\nvar msg_identificacion = {\"payload\":totem.men_identificacion};\nvar msg_salida = {\"payload\":totem.men_salida};\nvar msg_peso_minimo = {\"payload\":totem.peso_minimo};\nvar msg_titulo_matricula = {\"payload\":totem.id_titulo_matricula};\nvar msg_titulo_id = {\"payload\":totem.id_titulo_id};\nvar msg_id_leido = {\"payload\":totem.id_leido};\nvar msg_id_no_leido = {\"payload\":totem.id_no_leido};\nvar msg_id_tarjeta = {\"payload\":totem.id_tarjeta};\n//node.send([msg_pesaje_listo, msg_peso_estable, null, null, null, null, null, null, null, null])\n\nreturn [msg_pesaje_listo, msg_peso_estable, msg_identificacion, msg_salida, msg_peso_minimo, msg_titulo_matricula, msg_titulo_id, msg_id_leido, msg_id_no_leido, msg_id_tarjeta];","outputs":10,"noerr":0,"initialize":"","finalize":"","x":680,"y":780,"wires":[["f4d6ff1c.6e5b2"],["1bfd8a1a.589806"],["27054591.3588ba"],["b443cea6.fce05"],["ef580ba7.525ca8"],["b334f498.a09208"],["204c46f.bf945ba"],["b9e1ca72.e6e5d8"],["9d534952.c2aa68"],["cfee8b51.acfa98"]]},{"id":"205fe362.e055fc","type":"file in","z":"3fb469fd.146e66","name":"read-file","filename":"/home/pi/.node-red/config_supervisor.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":1160,"wires":[["5a737ec0.fb7d3","8ebb6927.b64618"]]},{"id":"11b04c02.261014","type":"inject","z":"3fb469fd.146e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"1","payloadType":"num","x":150,"y":1160,"wires":[["205fe362.e055fc"]]},{"id":"5a737ec0.fb7d3","type":"function","z":"3fb469fd.146e66","name":"read-config","func":"var config = JSON.parse(msg.payload);\nmsg ={}; // clear msg object\nvar read;\nread = config.vial_1;\nflow.set(\"vial_1\", read);\nread = config.vial_2;\nflow.set(\"vial_2\", read);\nread = config.vial_3;\nflow.set(\"vial_3\", read);\n\n\n\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1160,"wires":[[]]},{"id":"8ebb6927.b64618","type":"debug","z":"3fb469fd.146e66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1100,"wires":[]},{"id":"9c4f185b.884108","type":"inject","z":"3fb469fd.146e66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":780,"wires":[["d93379cf.25db38"]]},{"id":"96f77e0d.5e2d","type":"ui_button","z":"3fb469fd.146e66","name":"","group":"f7c12f7a.25ae4","order":10,"width":0,"height":0,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":190,"y":940,"wires":[["fbe5ee9e.e0319"]]},{"id":"7718e655.171978","type":"ui_button","z":"3fb469fd.146e66","name":"","group":"f7c12f7a.25ae4","order":10,"width":0,"height":0,"passthru":false,"label":"Read","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":1240,"wires":[["205fe362.e055fc"]]},{"id":"9dd2d8f7.0e1f08","type":"function","z":"f429c461.047288","name":"","func":"var t = {};\nvar f = {};\nvar x=4\nt = flow.get(\"test1\");\nf =t;\nnode.warn([\"t = \",t,f]);\n\nt.payload = 300;\n\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":180,"wires":[[]]},{"id":"5be272cf.1d90cc","type":"inject","z":"f429c461.047288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2345","payloadType":"num","x":780,"y":160,"wires":[["9dd2d8f7.0e1f08"]]},{"id":"a7b77053.6eb48","type":"inject","z":"f429c461.047288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":120,"wires":[[]]},{"id":"b6b97101.a6873","type":"change","z":"f429c461.047288","name":"","rules":[{"t":"set","p":"test1","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[[]]},{"id":"417175f5.b11a9c","type":"inject","z":"f429c461.047288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":300,"wires":[["b6b97101.a6873"]]},{"id":"3c2f4ff8.7d9c","type":"mqtt in","z":"f429c461.047288","name":"","topic":"estudio_led_2/#","qos":"2","datatype":"json","broker":"aeaea9f1.24e588","inputs":0,"x":490,"y":480,"wires":[["355b3712.ea5008"]]},{"id":"355b3712.ea5008","type":"debug","z":"f429c461.047288","name":"test1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":420,"wires":[]}]